<section class="card">
  <a href="/species/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>{{owner}}'s</p>
    </div>
  </a>
</section>